body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(25, 25, 25);
  color: white;
}
.title {
  font-size: 30px;
  font-weight: bold;
}
.move-icon {
  height: 50px;
}
.move-button {
  background-color: transparent;
  border: 3px solid white;
  width: 120px;
  height: 120px;
  border-radius: 60px;
  margin-right: 15px;
  cursor: pointer;
}
.js-result {
  font-size: 22px;
  font-weight: bold;
  margin-top: 50px;
}
.js-score {
  margin-top: 60px;
}
.js-reset {
  padding: 6px 18px 6px 18px;
}
